{
  "apiKey": "YOUR_ORIGINAL_API_KEY",
  "authDomain": "YOUR_ORIGINAL_AUTH_DOMAIN",
  "projectId": "YOUR_ORIGINAL_PROJECT_ID",
  "storageBucket": "YOUR_ORIGINAL_STORAGE_BUCKET",
  "messagingSenderId": "YOUR_ORIGINAL_MESSAGING_SENDER_ID",
  "appId": "YOUR_ORIGINAL_APP_ID"
}
